git+https://github.com/pytgcalls/pytgcalls
tgcrypto
requests
youtube_dl
ffmpeg-python
python-dotenv
youtube_search
youtube_search_python
pytgcalls==3.0.0.dev19
tgcalls==3.0.0.dev4
git+https://github.com/pyrogram/pyrogram@master
